name: "Deploy backend to the EC2 server"

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  deploy-backend:
    runs-on: self-hosted
    defaults:
      run:
        working-directory: /home/ubuntu/actions-runner/_work/task-management-application/task-management-application
    steps:
      - name: "Cloning the github repository"
        uses: actions/checkout@v2

      - name: "Check disk usage before"
        run: df -h

      - name: "Clean up Docker before build"
        run: |
          docker system prune -af --volumes

      - name: "Run Docker Compose"
        run: |
          docker compose down
          docker compose build --no-cache
          docker compose up -d

      - name: "Check disk usage after the deployment"
        run: df -h
      - name: "backend deployment completed"
        run: echo "backend deployed successfully"
